[Desktop Entry]
Type=Application
Name={{ cookiecutter.formal_name }}
Exec=/usr/bin/{{ cookiecutter.app_name }} %F
Icon={{ cookiecutter.bundle }}.{{ cookiecutter.app_name }}
Categories=Utility;
Comment={{ cookiecutter.description }}
